* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    margin: 10px;
    display: grid;
    grid-template-columns: 22% auto;
    grid-template-rows: 20vh minmax(80vh, auto);

    grid-template-areas: "sidebar header" 
    "sidebar main"
    ;
}

.sidebar {
     background-color: blue;
    grid-area: sidebar;
}

.main {
    background-color: lightgray;
    grid-area: main;
}
.header {
    background-color: whitesmoke;
    grid-area: header;
    
}