* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li {
    list-style-type: none;
}
.page {
    margin: 10px;
    display: grid;
    grid-template-columns: 22% auto;
    grid-template-rows: 20vh minmax(80vh, auto);

    grid-template-areas: "sidebar header" 
    "sidebar main"
    ;
}

.sidebar {
     background-color: rgb(95, 95, 250);
    grid-area: sidebar;
}

.main {
    background-color: lightgray;
    grid-area: main;
}
.header {
    background-color: whitesmoke;
    grid-area: header;
    
}