* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li {
    list-style-type: none;
}
.page {
    margin: 10px;
    display: grid;
    grid-template-columns:  22% auto;
    grid-template-rows: 20vh minmax(80vh, auto);

    grid-template-areas: "sidebar header" 
    "sidebar main"
    ;
}

.sidebar {
     background-color: rgb(54, 138, 215);
     color: aliceblue;
     padding: 1rem 1.1rem;
     grid-area: sidebar;
    display: grid;
     grid-template-rows: 10% 30% auto;
     
}

.main {
    background-color: lightgray;
    grid-area: main;
}
.header {
    background-color: whitesmoke;
    grid-area: header;
    
}